:root {
  --primary-color: #e50914;
  --secondary-color: white;
  --fondo-color: #e5091441;
}
main {
  overflow: hidden;
}
.fondo {
  background-color: var(--fondo-color);
}
.scale:hover {
  transform: scale(120%);
}
.imagen {
  width:150px;
  height:auto;
}



