:root {
  --primary-color: #e50914;
  --secondary-color: white;
  --fondo-color: #e5091441;
}
main {
  overflow: hidden;
}
section p {
  background-color: var(--fondo-color);
}
.banner p:hover,
section article:hover {
  transform: scale(120%);
}



