@media screen and (min-width:$large) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      nav {
        width: 40%;
        padding: 0 10px 0 0;

        ul {
            display: flex;
            justify-content: space-between;
        }
      }
    }
    body {
      font-size: 150%;
    }
    .bannerSeries {
        background-repeat: no-repeat;
        background-size: 100%;
    }
  }