@media screen and (min-width: map-get($map: $breakpoint, $key: medium)){
    main {
        font-size: 150%;
    }

    .swiper-slide {
        width: 300px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    .bannerPeliculas {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/media/banner_movies_responsive.jpg");
    }

    .tendencias {
        font-size: 70%;

        img {
            width: 40%;
            height: 85%;
        }
        article {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        h2 {
            height: 30px;
        }
    }

    input {
        height: 50%; 
    }

    ::placeholder {
        font-size: 100%;
    }
    
    .container {
        display: grid; 
        grid-template-columns: 50% 1fr; 
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr; 
        gap: 15px 10px; 
        grid-template-areas: 
            "title title";
    }
    .tendencias-title { grid-area: title}
}