form {
    padding: 0 30px 30px 30px;
    color: $secondary-color;
    text-align: justify;

    button {
        background-color: $primary-color;
        font-size: 120%;
        padding: 10px;
        border-radius: 8px;
    
        &:hover {
            background-color: $opacity-color;
            color: $secondary-color;
            cursor: pointer;
        }
    }
}

#contacto {
    padding: 30px 30px 20px 30px;
    color: $secondary-color;
    text-align: justify;

    h2 {
        padding: 10px;
    }
}

fieldset {
    border-radius: 8px;
    padding: 8px;
}

input {
    width: 100%;
    border-radius: 4px;
}

textarea {
    border-radius: 8px;
}

::placeholder {
    font-size: 60%;
}

#formulario {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item1 { grid-area: 1 / 1 / 2 / 9; }
.item2 { grid-area: 2 / 1 / 3 / 5; }
.item3 { grid-area: 2 / 5 / 3 / 9; }
.item4 { grid-area: 3 / 1 / 4 / 5; }
.item5 { grid-area: 3 / 5 / 4 / 9; }
.item6 { grid-area: 4 / 1 / 8 / 9; }
.item7 { grid-area: 8 / 4 / 9 / 6; text-align: center;}

 