header {
    @extend .display;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 10px;
    text-align: center;
    margin-top: 30px;
    

    nav ul {
        display:flex;
        justify-content: space-around;

        li {
            display: inline-block;
            list-style: none;

            a {
                text-decoration: none;
                color: map-get($map: $colores, $key: secondary-color);
                transition: color 5s;

                &:hover {
                    color: map-get($map: $colores, $key: primary-color);
                }
            }
        }
    }

}