.contenido {
    color: map-get($map: $colores, $key: secondary-color);
    padding: 20px 15px 10px 15px;
    h2 {
        padding-bottom: 20px;
        grid-area: title;
        transition: color 5s;
    }

    &:hover {
        color: map-get($map: $colores, $key: primary-color);
    }
}

.contenedor {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    transition: all 0.5s linear;
    &__card {
        &:hover {
            transform: scale(120%);
        }
        
        h3 {
            padding: 0 0 5px 5px;
            font-size: 90%;
        }
    
        img {
            width: 100%;
            border-radius: 8px;    
        }
    }
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: auto;
    cursor: default;
}


