:root {
    --swiper-theme-color: #e50914;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    background-color: map-get($map: $colores, $key: fondo-color);
}

.space {
    padding-bottom: 10px;
}
